@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Virgil";
    src: url("/Virgil.woff2");
}

[data-theme=light] {
    --bc: 100 % 0%;
    --svg-color: #000;
}
[data-theme=dark] {
    --svg-color: #fff;
}

@layer base {
  h1 {
    @apply font-heading;
  }
  h2 {
    @apply font-heading;
  }

  h3 {
    @apply font-heading;
  }
  p {
    @apply font-sans;
  }
  .btn {
    @apply font-sans;
  }
}

